.episode {
    padding: 3rem 5rem;
    width: 74%;

    @media(max-width: 960px) {
        padding-bottom: 150px;
    }
    
    @media(max-width: 900px) {
        width: 100%;
    }
    
    @media(max-width: 620px) {
        padding: 3rem;
        padding-bottom: 150px;
    }

    .thumbnailContainer {
        position: relative;

        .thumbnailContainerImg {
            width: 100%;
            height: 240px;
            object-fit: cover;
        }

        img {
            border-radius: 1rem;
        }
    
        button {
            width: 3rem;
            height: 3rem;
            border-radius: 0.75rem;
            border: 0;
            position: absolute;
            z-index: 5;
            font-size: 0;
            transition: filter 0.2s;
            cursor: pointer;
    
            &:first-child {
                left: 0;
                top: 50%;
                background: var(--purple-500);
                transform: translate(-50%, -50%);
            }
            
            &:last-child {
                right: 0;
                top: 50%;
                background: var(--green-500);
                transform: translate(50%, -50%);
            }
    
            &:hover {
                filter: brightness(0.9);
            }
        }
    }

    header {
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--gray-100);

        h1 {
            margin-top: 2rem;
            margin-bottom: 1.5rem;
        }

        img {
            cursor: pointer;
            transition: opacity 0.3s;

            &:hover {
                opacity: 0.6;
            }
        }

        span {
            display: inline-block;
            font-size: 0.875rem;

            & + span {
                margin-left: 1rem;
                padding-left: 1rem;
                position: relative;

                &:before {
                    content: '';
                    width: 4px;
                    height: 4px;
                    border-radius: 2px;
                    background: #ddd;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform:  translate(-50%, -50%);
                }
            }
        }
    }

    .description {
        margin-top: 2rem;
        line-height: 1.675rem;
        color: var(--gray-800);

        p {
            margin: 1.5rem 0;
        }
    }

}