.homePage {
    padding: 0 4rem;
    height: calc(100vh - 6.5rem);
    width: 74%;
    // overflow-y: scroll;

    h2 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
        color: var(--home-title);
    }

    @media(max-width: 900px) {
        width: 100%;
    }

    @media(max-width: 620px) {
        padding: 2rem;

        h2 {
            margin-top: 1rem;
        }
    }
}

.latestEpisodes {
    ul {
        list-style: none;
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

        li {
            background: var(--bg-lastest-ep);
            border: 1px solid var(--border-lastest-ep);
            padding: 1.25rem;
            border-radius: 1.5rem;
            position: relative;
            max-width: 50%;
            display: flex;
            align-items: center;
            
            img.thumbImg {
                flex: 1;
                border-radius: 1rem;
            }

            .favIcon {
                cursor: pointer;
                position: relative;
                top: 2px;
                left: 8px;
                min-width: 1rem;
                height: 1rem;
            }
    
            .episodeDetails {
                margin-left: 1rem;
                max-width: 70%;
    
                a {
                    display: block;
                    color: var(--gray-800);
                    font-family: Lexend, sans-serif;
                    font-weight: 600;
                    text-decoration: none;
                    line-height: 1.4rem;
                    position: relative;
                    top: 0;
                    transition: opacity 0.3s;
                    
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                    
                    &:hover {
                        opacity: 0.6;
                    }
                }
    
                p {
                    font-size: 0.875rem;
                    max-width: 85%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                
                span {
                    display: inline-block;
                    margin-top: 0.5rem;
                    margin-top: 0.5rem;
                    font-size: 0.875rem;
    
                    &:last-child {
                        margin-left: 0.5rem;
                        padding-left: 0.5rem;
                        position: relative;
    
                        &:before {
                            content: '';
                            width: 4px;
                            height: 4px;
                            border-radius: 2px;
                            background: #ddd;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }

            @media(max-width: 620px) {
                padding: 0.5rem;

                &:nth-child(2) {
                    margin-bottom: 50px !important;
                }

                img.thumbImg {
                    min-width: unset !important;
                    min-height: unset !important;
                    width: 80px !important;
                    height: 80px !important;
                }
            }

            @media(max-width: 480px) {
                div:nth-child(1) {
                    width: 60px;
                    height: 60px;
                }

                p {
                    display: none;
                }

                a {
                    font-size: 13px;
                }

                button {
                    bottom: 6px;
                    right: 8px;
                    width: 32px;
                    height: 32px;
                }

                span {
                    margin-top: 2px !important;
                }
            }
        }

        button {
            position: absolute;
            right: 1.5rem;
            bottom: 1.5rem;
            width: 2.5rem;
            height: 2.5rem;
            background: var(--play-button-lp);
            border: 1px solid var(--gray-100);
            border-radius: 0.675rem;
            font-size: 0;
            transition: filter ease 0.2s;
            cursor: pointer;

            &:hover {
                filter: brightness(0.95);
            }
            
            img {
                min-width: unset;
                width: 1.5rem;
                height: 1.5rem;
            }
        }

    }

    @media(max-width: 1199px) {
        ul {
            display: inline-block;
    
            li {
                max-width: 100%;
                margin-bottom: 20px;

                &:nth-child(2) {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.allEpisodes {
    padding-bottom: 2rem;

    table {
        width: 100%;

        th, td {
            padding: 0.75rem 1rem;
            border-bottom: 1px solid var(--gray-100);
        }

        th {
            color: var(--gray-200);
            text-transform: uppercase;
            font: 500 0.75rem Lexend, sans-serif;
            text-align: left;

            &:nth-child(1) {
                max-width: 20px;
                padding: 0;
            }
        }

        @media(max-width: 960px) {
            padding-bottom: 150px;

            th, tr td {
                &:nth-child(4)
                {
                    display: none;
                }
            }
        }

        @media(max-width: 800px) {
            th {
                display: none;
            }

            tr td {
                &:nth-child(5)
                {
                    display: none;
                }

                &:nth-child(2) {
                    div {
                        img {
                            min-width: 70px !important;
                            min-height: 70px !important;
                        }
                    }
                }
                
                &:nth-child(3) {
                    a {
                        font-size: 14px;
                    }
                }
            }
        }

        @media(max-width: 620px) {
            tr td {              
                &:nth-child(6) {
                    display: none;
                }

                &:nth-child(2) {
                    div {
                        img {
                            min-width: 50px !important;
                            min-height: 50px !important;
                        }
                    }
                }
            }
        }

        @media(max-width: 420px) {
            tr td {              
                &:nth-child(2) {
                    padding: 0 0 0 10px;

                    div {
                        img {
                            min-width: 35px !important;
                            min-height: 35px !important;
                        }
                    }
                }
            }
        }

        tr {
            .favIcon {
                cursor: pointer;
                position: relative;
                min-width: 1rem;
                min-height: unset;
                height: 1rem;
            }
        }

        td {
            font-size: 0.875rem;

            &:nth-child(1) {
                max-width: 20px;
                padding: 0;
            }
            
            &:nth-child(2) {
                div {
                    text-align: center; 
                    vertical-align: middle;
                }
            }

            span {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }

            img {
                min-width: 2rem;
                min-height: 2rem;
                border-radius: 0.5rem;
            }

            a {
                color: var(--gray-800);
                font-family: Lexend, sans-serif;
                font-weight: 600;
                text-decoration: none;
                line-height: 1.2rem;
                font-size: 0.9rem;
                transition: opacity 0.3s;

                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;  
                overflow: hidden;

                &:hover {
                    opacity: 0.6;
                }
            }

            button {
                width: 2rem;
                height: 2rem;
                background: var(--white);
                border: 1px solid var(--gray-100);
                border-radius: 0.5rem;
                font-size: 0;
                transition: filter ease 0.2s;
                cursor: pointer;
    
                &:hover {
                    filter: brightness(0.95);
                }
                
                img {
                    width: 1.25rem;
                    height: 1.25rem;
                    min-width: unset;
                }
            }
        }
    }
}