.playerContainer {
    padding: 3rem 4rem;
    width: 26%;
    height: 100vh;
    background: var(--purple-500);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 0;

    header {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    strong {
        font-family: Lexend, sans-serif;
        font-weight: 600;

        &.mobile {
            display: none;
        }
    }

    footer {
        align-self: stretch;

        &.empty {
            opacity: 0.5;
        }

        .progress {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 0.875rem;
        
            span {
                display: inline-block;
                width: 4rem;
                text-align: center;
            }
        
            .slider {
                flex: 1;
                
                .emptySlider {
                    width: 100%;
                    height: 4px;
                    background: var(--purple-300);
                    border-radius: 2px;
                }
            }
        }
        
        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 2.5rem;
            gap: 1.5rem;
        
            button {
                background: transparent;
                border: 0;
                font-size: 0;
                cursor: pointer;
                transition: filter ease 0.2s;
        
                &:disabled {
                    cursor: default;
                    opacity: 0.3;
                }
        
                &.isActive {
                    filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
                }
        
                &.isActive:hover {
                    filter: brightness(0.6) invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
                }
        
                &:hover:not(:disabled) {
                    filter: brightness(0.7);
                }
        
                &.playButton {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 1rem;
                    background: var(--purple-400);
                    transition: filter 0.2s;
        
                    &:hover {
                        filter: brightness(0.95);
                    }
                }
            }
        }
    }
    
    .emptyPlayer {
        width: 100%;
        height: 20rem;
        border: 1.5px dashed var(--purple-300);
        border-radius: 1.5rem;
        background: linear-gradient(143.8deg, rgba(145,100,250,0.8) 0%, rgba(0,0,0,0) 100%);
        padding: 12%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .currentEpisode {
        text-align: center;
    
        img {
            border-radius: 1.5rem;
        }
    
        strong {
            display: block;
            margin-top: 2rem;
            font: 600 1.25rem Lexend, sans-serif;
            line-height: 1.75rem;
        }
    
        span {
            display: block;
            margin-top: 1rem;
            opacity: 0.6;
            line-height: 1.5rem;
        }
    }

    @media (max-height: 720px) and (min-width: 901px) {
        padding: 1rem 2rem;

        .currentEpisode {
            img {
                width: 30vh;
            }

            strong {
                margin-top: 1rem;
                font-size: 1rem;
                line-height: 1rem;
            }
        }
    }

    @media(max-width: 1400px) {
        padding: 3rem 1.5rem;
    }

    @media(max-width: 900px) {
        width: 100%;
        height: 120px;
        bottom: 0;
        position: fixed;
        padding: 16px 30px;

        .emptyPlayer, .currentEpisode {
            display: none;
        }

        header {
            img {
                width: 24px;
            }

            strong {
                font-size: 14px;

                &.desktop {
                    display: none;
                }

                &.mobile {
                    display: inline-block;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;  
                    overflow: hidden;
                }

                span {
                    display: inline-block;
                }
            }
        }

        footer {
            .progress {
                margin: 8px 0;
            }

            .buttons {
                margin: 0;
                
                img {
                    width: 20px;
                }

                button.playButton, button.pauseButton {
                    width: 30px;
                    height: 30px;
                    border-radius: 5px;

                    img {
                        height: 25px;
                    }
                }

            }
        }
    }

}
